<img src="https://assets.unlayer.com/stock-templates1690216622551-logo2.png" width="60" height="60" alt="Logo">

<p>Votre Reponse est
</p>
{{reponse.message}}

<h4>Contact</h4>
<ul>
	<li>16 Boulevard de l'environnement, l'aouina</li>
	<li>immob.diyar.rached@gmail.com</li>
	<li>(+216) 20 929 999</li>
	<li>(+216) 24 727 205</li>
	<li>(+216) 24 727 628</li>
</ul>
